africastalking==1.2.3
alembic==1.4.2
amqp==5.0.2
aniso8601==8.0.0
apifairy==1.2.0
apispec==6.0.0
APScheduler==3.7.0
attrs==21.4.0
autopep8==1.5.2
Babel==2.8.0
bcrypt==3.1.7
billiard==3.6.3.0
blinker==1.4
Brotli==1.0.9
cairocffi==1.3.0
CairoSVG==2.5.2
celery==5.0.2
certifi==2020.6.20
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.4
click==8.1.3
click-didyoumean==0.0.3
click-repl==0.1.6
cloudinary==1.22.0
contextlib2==0.6.0.post1
coverage==6.3.2
croniter==1.0.2
cssselect2==0.3.0
defusedxml==0.6.0
dnspython==1.16.0
email-validator==1.1.1
et-xmlfile==1.1.0
Flask==2.2.0
flask-apispec==0.11.4
Flask-Babel==1.0.0
Flask-Bcrypt==1.0.1
Flask-Cors==3.0.10
Flask-HTTPAuth==4.7.0
Flask-Login==0.6.2
Flask-Mail==0.9.1
flask-marshmallow==0.14.0
Flask-Migrate==2.5.3
Flask-RESTful==0.3.9
Flask-RQ==0.2
Flask-Script==2.0.6
Flask-SQLAlchemy==3.0.2
Flask-Table==0.5.0
flask-talisman==0.7.0
Flask-Testing==0.8.1
Flask-WTF==1.0.1
fonttools==4.29.1
greenlet==1.1.3.post0
gunicorn==20.0.4
html5lib==1.1
idna==2.9
importlib-metadata==2.0.0
inflect==5.0.2
iniconfig==1.1.1
itsdangerous==2.1.2
Jinja2==3.1.2
kombu==5.0.2
Mako==1.1.2
MarkupSafe==2.1.1
marshmallow==3.19.0
marshmallow-sqlalchemy==0.28.1
natsort==7.1.1
numpy==1.23.1
openpyxl==3.0.9
openpyxl-image-loader==1.0.5
packaging==21.3
pandas==1.4.3
pangocairocffi==0.6.0
pangocffi==0.10.0
pdfkit==0.6.1
Pillow==9.0.1
pluggy==1.0.0
prompt-toolkit==3.0.8
psycopg2-binary==2.9.1
py==1.11.0
pycodestyle==2.5.0
pycparser==2.20
pydyf==0.1.2
PyJWT==2.4.0
pyparsing==3.0.7
Pyphen==0.9.5
pytest==7.1.2
python-dateutil==2.8.1
python-dotenv==0.19.0
python-editor==1.0.4
pytz==2022.1
qrcode==7.3.1
redis==3.5.3
requests==2.24.0
rq==1.6.1
rq-scheduler==0.10.0
schedule==0.6.0
schema==0.7.2
six==1.14.0
SQLAlchemy==1.4.42
tinycss2==1.0.2
tomli==2.0.1
tzlocal==2.1
urllib3==1.25.10
vine==5.0.0
wcwidth==0.2.5
weasyprint==54.1
webargs==8.2.0
webencodings==0.5.1
Werkzeug==2.2.2
wkhtmltopdf==0.2
WTForms==2.3.1
xlrd==2.0.1
zipp==3.4.0
zopfli==0.1.9
